@import "./vars";

body {
  font-family: $font;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 300;
  color: $grey3;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  max-width: 160px;
  width: 100%;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  color: $white;
  background-color: $green;
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
  transition: background-color .3s;

  &:hover {
    background-color: $grey4;
  }

  @media (min-width: 1169px) {
    padding: 5px 0;
    font-weight: 600;
  }
}

.section-padding {
  padding: 50px 0;
  @media (min-width: 767px) {
    padding: 80px 0;
  }
  @media (min-width: 1169px) {
    padding: 120px 0;
  }
}

.section-bg {
  background-color: $greyBG;
}

.top-element {
  position: relative;
  padding-top: 20px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 45px;
    height: 4px;
    background-color: $green;
    border-radius: 2px;
  }
  @media (min-width: 767px) {
    &::before {
      width: 60px;
    }
  }
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  @media (min-width: 767px) {
    font-size: 38px;
  }
  @media (min-width: 1169px) {
    font-size: 44px;
  }
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
  color: $greyBG;
  text-transform: uppercase;
  @media (min-width: 767px) {
    font-size: 28px;
  }
  @media (min-width: 1169px) {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
